* {
    margin: 0;
    padding: 0;
  } 
   html, body {
    height: 100%;
    width: 100%;
  }

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol, ul {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    overflow: auto;
    top: 3%;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .navbar ul {
      display: flex;
  }
  .navbar a {
      float: left;
      
      color: white;
      text-decoration: none;
  
      font-family: 'Roboto', sans-serif;
  
      font-size: 13px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 400;
      text-align: center;
  }
  
  .navbar .menu-left a, .navbar .menu-right a {
      padding: 12px
  }
  
  
  .navbar .logo {
      padding: 0px 15px;
  }
  .navbar .orders {
      margin-left: 5%;
      border-radius: 30px;
      border: 1px solid #ffffff;
      padding: 6px 10px 0px 10px;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  .container {
    width: 100%;
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
    
  }
  .carousel {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* transform: translateY(-50%);
    top: 50%; */
  }

  .carousel-item {
    height: 100%;
    color: white;
    line-height: 200px;
    text-align: center;
  } 
.container-1 {
    position: relative;
}
.container-1 .carousel-control-prev-icon, .container-1 .carousel-control-next-icon {
    display: none !important;
}

.navbar .social {
    margin-right: 5%;
}
.hr {
    margin: 0px;
    border: 0px;
    
}
.hr .top-line {
    width: 90%;
    top: 12%;
    position: absolute;
    margin-left: 5%;
}


.middle-cta {
    text-align: center;
    width: 60%;
    margin: 0px 20%;
    top: 42%;
    position: absolute;
}

.middle-cta .title{
    letter-spacing: 3px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    filter: drop-shadow(0 0 2.5px #000000);
}
.middle-cta .content{
    letter-spacing: -1px;
    color: #ffffff;
    opacity: 1;
    padding: 15px 0px;

    font-size: 52px;
    line-height: 58px;
    font-weight: bold;
    font-family: "Helvetica";
    text-align: center;
    filter: drop-shadow(0 0 14.5px rgba(0,0,0,0.5));
}
.middle-cta .cta-btn{
    background: #D4B254 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000033;
    border-radius: 30px;
    opacity: 1;
    margin: 0 30%;
    padding: 10px;
    background-color: #d4b254;
}
.middle-cta .cta{
    letter-spacing: 3px;
    color: #ffffff;
    text-align: center;
}

  .container-2 {
    background: #eeeeee 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 3% 11%;
  }

  .container-2 .header{
    text-align: center;
    letter-spacing: 3px;
    color: #d4b254;
    text-transform: uppercase;
    opacity: 1;
    padding-bottom: 17px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }


  .container-2 .title{
    text-align: center;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    padding-bottom: 24px;
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
    font-family: "Helvetica";

  }

  .container-2 .content{
    text-align: center;
    letter-spacing: 0px;
    color: #777777;
    opacity: 1;
    padding-bottom: 11px;
    font-size: 18px;
    line-height: 32px;
    font-family: "Helvetica";
    text-align: center;
  }
  .container-2 .author{
    text-align: center;
    letter-spacing: 0px;
    color: #777777;
    opacity: 1;
    padding-bottom: 36px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Roboto";
  }

  .container-2 .faq a{
    text-align: center;
    letter-spacing: 3px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    background: #D4B254 0% 0% no-repeat padding-box;
    border-radius: 30px;
    text-decoration: none;
    padding: 20px;

    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }

  .container-2 .carousel-control-prev-icon {
    background-image: url(../imgs/left-arrow.svg);
    width: 71px;
    height: 71px;
  }
  
  .container-2 .carousel-control-next-icon {
    background-image: url(../imgs/right-arrow.svg);
    width: 71px;
    height: 71px;

  }

  .container-2  .carousel {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* transform: translateY(-50%);
    top: 50%; */
  }

  .container-2 .carousel-item {
    color: white;
    line-height:normal;
    text-align: center;
    height: 60%;
}

.container-2 .carousel-item .info{
    padding: 8% 10%;
}


.about-us {
    display: flex;
    flex-direction: row;
}

.about-us .left-section{
    width: 50%;
}
.about-us .left-section img{
    width: 100%;
}

.about-us .right-section{
    width: 36%;
    margin-left: 2%;
    padding-top: 5px;
}

.about-us .right-section .tag-line{
    letter-spacing: 3px;
    color: #d4b254;
    text-transform: uppercase;
    opacity: 1;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto";
}
.about-us .right-section .title{
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    padding-bottom: 15px;
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
    font-family: "Helvetica";
}
.about-us .right-section .content{
    letter-spacing: 0px;
    color: #777777;
    opacity: 1;
    padding-bottom: 20px;
}
.about-us .right-section .about-us-link{
    background: #d4b254 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    padding: 5px;
    text-align: center;
    width: 30%;
}
.about-us .right-section .about-us-link a{
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.gallery {
    margin: 30px auto 30px auto;
}
 .gallery .title {
    text-align: center;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    padding-bottom: 20px;
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
    font-family: "Helvetica";
}
 .gallery .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 5%;
}
.gallery .images img {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 10px;
  }
  

.gallery .view-more {
    text-align: center;
    margin: 5% auto;
}
.gallery .view-more a{
    margin-top: 5px;
    letter-spacing: 3px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    background: #D4B254 0% 0% no-repeat padding-box;
    border-radius: 30px;
    text-decoration: none;
    padding: 12px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;  
}

footer {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.96), rgba(0, 0, 0, 0.96)), 
    url(../imgs/slider/bb6f8e51f3d8f6ce0be93f409cac289b.png);
    background-position: center top;
    color: #ffffff;
    margin-top: 5%;
    padding: 20px 0px;
}
footer .logo { 
    display: flex;
    padding: 25px 0px;
}

footer .left-line {
    width: 40%;
    margin-left: 5%;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 0.2;
    border: 1px solid;
}

footer .logo img {
    max-width: 84px;
    max-height: 32px;
    width: 15%;
}

footer .right-line {
    width: 40%;
    margin-right: 5%;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 0.2;
    border: 1px solid;
}

footer .hr-line .hr-3 {
    width: 90%;
    margin: 10px 5%;
    border: 1px solid;
    opacity: 0.2;
}
 .footer-nav {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: baseline;
}
 .footer-nav .mtc-nav .title{
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 24px;
    line-height: 42px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica";
}
 .footer-nav .mtc-nav {
    -ms-flex: 20%; /* IE10 */

    flex: 20%;
    max-width: 20%;
    padding: 10px;
}
 .footer-nav .mtc-nav ul{
    padding-top: 30px;
    text-align: left;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.8;
}
 .footer-nav .mtc-nav ul li a{
    color: #FFFFFF;
    opacity: 0.800;
    font-size: 13px;
    letter-spacing: 3px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
}
 .footer-nav .social-links{
    display: flex;
}

 .footer-nav .social-links li {
    padding: 4px;
}

 .footer-nav .social-links li  svg{
    background: white;
    fill: black;
    border-radius: 30px;
    padding: 4px;
}

 .footer-nav .social-links li svg.feather.feather-instagram{
    fill: none;
    stroke: black
}


footer .copy-right{
    letter-spacing: 0px;
    opacity: 0.5;
    display: block;
    font-size: 13px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
} 


.mobile-navbar {
    top: 0%;
    position: absolute;
    width: 100%;
    display: none;
}

.mobile-navbar {
    margin: auto;
    color: white;
    border-radius: 10px;
  }
  
.top-nav {
    overflow: hidden;
    background-color: #d4b254;
    position: relative;
    z-index: 99999;
    width: 100%;
}

.top-nav .nav-segments {
    display: none;
}


.top-nav a {
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.top-nav a.icon {
    background: #d4b254;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.top-nav a:hover {
background-color: #070707;
color: #ffffff;
}